<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<header>
    {% include '_menu.html.twig' %}

    {% include 'navbar.html.twig' %}
</header>
<body>
{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% block body %}{% endblock %}

{{ encore_entry_script_tags('app') }}
{% block javascripts %}
{% endblock %}

</body>
</html>
